{% extends 'base.html' %}

{% block title %}
Blog
{% endblock title %}
{% block body %}
<head>
  <style>

    #header {
        background: url(https://images.unsplash.com/photo-1415795854641-f4a487a0fdc8?ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80) center center / cover no-repeat ;
      }
      .container{
        padding-top: 2%;
      }
  </style>
</head>


     <section id="header" class="jumbotron text-center">
       <h1 class="display-3">W- BLOGS </h1>
       <p class="lead">Being and keeping you updated futuristically</p>
       <br>
       {% comment %} <a href="" class="btn btn-primary">Click</a>
       <a href="" class="btn btn-secondary">Click</a> {% endcomment %}
  </section>
    
  <section id="gallery">
    <div class="container">
      <div class="row">
      <div class="col-lg-4 mb-4">
      <div class="card">
        <img src="https://images.unsplash.com/photo-1477862096227-3a1bb3b08330?ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60" alt="" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Sunset</h5>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut eum similique repellat a laborum, rerum voluptates ipsam eos quo tempore iusto dolore modi dolorum in pariatur. Incidunt repellendus praesentium quae!</p>
         <a href="" class="btn btn-outline-success btn-sm">Read More</a>
        </div>
       </div>
      </div>
    <div class="col-lg-4 mb-4">
    <div class="card">
        <img src="https://images.unsplash.com/photo-1516214104703-d870798883c5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=60" alt="" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Sunset</h5>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut eum similique repellat a laborum, rerum voluptates ipsam eos quo tempore iusto dolore modi dolorum in pariatur. Incidunt repellendus praesentium quae!</p>
         <a href="" class="btn btn-outline-success btn-sm">Read More</a>
        </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4">
      <div class="card">
        <img src="https://images.unsplash.com/photo-1477862096227-3a1bb3b08330?ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60" alt="" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Sunset</h5>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut eum similique repellat a laborum, rerum voluptates ipsam eos quo tempore iusto dolore modi dolorum in pariatur. Incidunt repellendus praesentium quae!</p>
         <a href="" class="btn btn-outline-success btn-sm">Read More</a>
        </div>
       </div>
      </div>
    </div>
  </div>
  </section>
  

<script>
    function myFunction() {
        var element = document.body;
        element.classList.toggle("dark-mode");
     }
</script>

{% endblock body %}

{% comment %} database = SQLite {% endcomment %}